/* fonts imported */
@font-face {
  font-family: poppins-light;
  src: url(./fonts/poppins/Poppins-Light.otf);
}

@font-face {
  font-family: poppins-extra-light;
  src: url(./fonts/poppins/Poppins-ExtraLight.otf);
}

@font-face {
  font-family: poppins-thin;
  src: url(./fonts/poppins/Poppins-Thin.otf);
}

@font-face {
  font-family: poppins-regular;
  src: url(./fonts/poppins/Poppins-Regular.otf);
}


/* page style */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #eaeaea;
  color: white;
  font-family: poppins-light;
  overflow-x: hidden;
}

header {
  display: none;
}

.top-nav {
  font-family: futura-bt-medium, sans-serif;
  background-color: rgba(54, 54, 54, 0);
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  transition: 0.5s;
}

.top-nav .logo {
  width: 5.6rem;
}

.top-nav .logo1 {
  display: none;
}

.top-nav .closebtn {
  display: none;
}

.top-nav ul li {
  display: inline-block;
  margin-left: 2.5rem;
}

.top-nav ul li a {
  text-decoration: none;
  color: white;
}

.top-nav ul li a:hover {
  color: gray;
}

.top-nav .active {
  font-weight: bold;
}

.hero {
  width: 100%;
  height: 100vh;
  padding: 0;
}

/* background video style begins here */
#bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  z-index: -99;
}

/* background video style ends here */
.hero .get-started {
  position: relative;
  top: 75%;
  bottom: 0;
  left: 26%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  overflow-x: hidden;
}

.hero .get-started img {
  width: 50%;
  height: 50%;
}


.about {
  font-family: poppins-thin;
  display: flex;
  flex-direction: column;
}

.about .top {
  display: flex;
  height: 30rem;
  color: black;
  margin: 0 0 4rem 5rem;
}

.about .top .about-head h1 {
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 100;
}

.about .top .about-head h1 .head-light {
  font-family: poppins-light;
}

.about .bottom {
  background: url(../images/Textile_background.png);
  display: flex;
  flex-direction: row;
  height: 44rem;
}

.about .bottom .left {
  background-color: #ffffff;
  color: black;
  padding: 0 2rem;
  margin: 0 0 4rem 5rem;
  position: relative;
  width: 59%;
  height: 60rem;
  top: -43%;
  font-family: poppins-light;
}

.about .bottom .left p {
  margin-top: 2rem;
}

.about .bottom .right {
  position: relative;
  top: -81.9%;
  left: 14%;
  width: 35%;
  height: 80rem;
  display: flex;
  justify-content: end;
  overflow-x: visible;
}

.quote {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  color: black;
  font-family: poppins-thin;
  font-size: 2rem;
}


.quote .quote-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
}

.quote .quote-section .quote-icon {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote .quote-section .quote-icon img {
  position: relative;
  top: -23%;
}

.quote .quote-section .quote-text {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.quote .quote-section .quote-text .foundation-button {
  width: 83%;
  text-align: center;
  position: relative;
  left: 17%;
}

.quote .quote-section .quote-text .foundation-button a {
  display: block;
  text-decoration: none;
  color: white;
  background-color: #4c4b4b;
  font-size: 1.4rem;
  padding: 0.5rem;
  margin-top: 2rem;
}

.quote .quote-section .quote-text .foundation-button a:hover {
  background-color: #FA7D0f;
}

.quote .adinkra-symbol {
  width: 20%;
  position: relative;
  left: 5%;
}

.quote .adinkra-symbol img {
  width: 100%;
}


.publications {
  background-color: #353535;
  display: flex;
  flex-direction: row;
  padding: 2rem 2rem 4rem 14rem;
}

.publications .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  margin: 10rem 4rem 5rem 0;
}

.publications .left .middle,
.publications .left .bottom {
  margin-top: 4rem;
}

.publications h3 {
  color: #398FFC;
}

.publications a,
.publications p {
  font-family: poppins-regular;
}

.publications .left .top,
.publications .left .middle,
.publications .left .bottom {
  display: flex;
  flex-direction: row;
}

.publications .left .top-icon {
  margin-right: 4rem;
}

.publications .left .middle-icon {
  margin-right: 6.1rem;
  position: relative;
  left: 2%;
}

.publications .left .bottom-icon {
  margin-right: 3rem;
}

.publications .left a {
  text-decoration: none;
  color: white;
  padding: .3rem;
  background-color: #398FFC;
  position: relative;
  left: 86%;
  font-size: .9rem;
}

.publications .left a:hover {
  background-color: #FA7D0f;
}

.publications .right {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 7rem;
}

.publications .right .right-video {
  width: 100%;
}

.publications .right .right-video #smile-video {
  width: 100%;
}

.publications .right .right-logo {
  display: flex;
  justify-content: center;
}

.publications .right .right-logo img {
  width: 80%;
}

.distinction {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  color: black;
  font-family: poppins-thin;
  font-size: 1.5rem;
}

.distinction .distinction-quote {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
}

.distinction .distinction-quote .distinction-quote-icon {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.distinction .distinction-quote .distinction-quote-icon img {
  position: relative;
  top: -10%;
}

.distinction .distinction-quote .distinction-quote-text {
  width: 80%;
}

.distinction .distinction-symbol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 5%;
  font-family: poppins-regular;
}

.distinction .distinction-button {
  margin-top: 1rem;
}

.distinction .distinction-symbol .distinction-button a {
  text-decoration: none;
  color: white;
  display: block;
  background-color: #171717;
  padding: .5rem 1rem;
}

.distinction .distinction-symbol .distinction-button a:hover {
  background-color: #398FFC;
}

.contact {
  display: flex;
  flex-direction: row;
  background-color: #FA7D0f;
  align-items: center;
  justify-content: center;
  padding: 8rem;
  font-family: poppins-extra-light;
}

.contact .contact-img {
  display: flex;
  width: 30%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact .contact-img img {
  width: 100%;
}

.contact .contact-text {
  width: 65%;
  font-size: 1.6rem;
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contact .contact-text a {
  text-decoration: none;
  color: white;
}

.contact .contact-text a:hover {
  color: #171717;
}

.contact .contact-text .contact-socials {
  margin-top: 2rem;
}


footer {
  background-color: #4c4b4b;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 3rem;
}

footer .copyright a {
  color: white;
  text-decoration: none;
}

footer .copyright a:hover {
  color: #FA7D0f;
}

footer .copyright {
  width: 100%;
  margin-left: 3.5rem;
  padding: 1rem 3%;
}

footer .bottom-nav {
  width: 100%;
  padding: 1rem 3%;
  display: flex;
  align-items: center;
  justify-content: right;
}

footer .bottom-nav ul li {
  display: inline-block;
  margin-right: .7rem;
}

footer .bottom-nav ul li a {
  text-decoration: none;
  color: white;
}

footer .bottom-nav ul li a:hover {
  color: gray;
}

footer .bottom-nav .active {
  font-weight: bold;
}

@media screen and (min-width: 1880px) {

  .about .top {
    margin: 0 0 4rem 14rem;
  }


  .about .top .about-head h1 .head-light {
    font-family: poppins-light;
  }

  .about .bottom {
    height: 41rem;
  }

  .about .bottom .left {
  margin: 0 0 4rem 14rem;
    width: 45%;
    height: 55rem;
  }

  .about .bottom .right {
    top: -95.2%;
    left: 4%;
    overflow-x: visible;
  }

  .quote {
    font-size: 2.5rem;
  }

  .quote .quote-section .quote-text .foundation-button a {
    font-size: 2rem;
    padding: 0.5rem;
    margin-top: 2rem;
  }

  .quote .quote-section .quote-text .foundation-button a:hover {
    background-color: #FA7D0f;
  }

  .quote .adinkra-symbol {
    width: 20%;
    position: relative;
    left: 5%;
  }
  .distinction {
    font-size: 2rem;
  }

  .contact .contact-text {
    font-size: 2rem;
  }

  .contact .contact-text a:hover {
    color: #171717;
  }

  footer .bottom-nav ul li {
    margin-right: 1.5rem;
  }

}

@media screen and (max-width: 768px) {

  header {
    height: 4rem;
    width: 100%;
    position: fixed;
    background: #171717;
    display: inline-block;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0.5rem;
    z-index: 8;
  }

  header .logo img {
    position: relative;
    left: 43%;
    height: 100%;
  }

  header .openbtn {
    position: absolute;
    top: 26%;
    right: 45px;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
  }

  .top-nav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9) !important;
    display: block;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 1rem 0 0 0;
  }

  .top-nav .logo {
    display: none;
  }

  .top-nav .logo1 {
    display: block;
  }

  .top-nav .logo1 img {
    position: absolute;
    right: 45%;
    width: 3.5rem;
    height: 3.5rem;
  }

  .top-nav ul {
    height: 100vh;
    position: relative;
    top: 5%;
    width: 100%;
    text-align: center;
    margin-top: 1.3rem;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
  }

  .top-nav ul li {
    display: block;
    margin: 3rem;
  }

  .top-nav ul li a {
    padding: 0.5rem;
    font-size: 2rem;
    color: rgb(176, 175, 175);
    display: inline-block;
  }

  .top-nav ul li a:hover,
  .top-nav ul li a:focus {
    color: #fcfcfc;
  }

  .top-nav .closebtn {
    display: block;
    position: absolute;
    top: 3%;
    right: 45px;
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
    color: white;
  }

  .top-nav .openbtn {
    display: block;
  }

  .hero {
    width: 100%;
    height: 40vh;
    padding: 0;
  }

  /* background video style begins here */
  #bg-video {
    top: 7%;
    left: 0;
  }

  /* background video style ends here */
  .hero .get-started {
    display: none;
  }


  footer .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-top: 1px solid gray;
    padding: 2rem 3rem 3rem 3rem;
  }

  footer .bottom .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
  }

  footer .bottom-nav {
    display: none;
  }


}